.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo_menu{
    font: 100% $font-stack;
    font-size: 35px;
  }

  .line {
    border-bottom: 1px solid rgb(0, 0, 0);
   }
